#hanger-container {
  margin: 50px auto;
  position: relative;
  vertical-align: middle;
}

#scoreboard-container {
  margin: 0px auto;
  font-size:small;
  width: 50%;
  position: relative;
}

#scoreboard {
  margin-top: 25%;
}

#hanger-stage {

}

#hanger-base {
  width: 500px;
  margin: 0px auto;
  padding-left: 255px;
}

#pole {
  margin: 0px auto;
  width: 40px;
  height: 600px;
  background: black;
}

#arm {
  margin: 0px auto;
  height: 35px;
  width: 327px;
  background: black;
  position: relative;
  right: 125px;
}