

.hanger-container {
  color: white;
  position: relative;
  /*margin: 0px auto;*/
  margin-top: 25px;
  width: 50%;
  size: 
}

#hanger-base {
  width: 500px;
  margin: 0px auto;
  padding-left: 255px;
}

#pole {
  margin: 0px auto;
  width: 40px;
  height: 600px;
  background: black;
}

#arm {
  margin: 0px auto;
  height: 35px;
  width: 327px;
  background: black;
  position: relative;
  right: 125px;
}