body, html {
  height: 100%;
}

#bootstrap-override {
  /*background-color: #000;*/
}

.wrapper {
  /*margin: 0px auto;*/
  text-align: center;
  min-height: 100%;
  height: auto;
  padding-top: 50px;
/*  background-image: url('../images/halloween-sil.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;*/
}

.landing {
  font-family: 'Sigmar One', cursive;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  display: inline-block;
  vertical-align: middle;
}

#main-title {
  font-size: 75px;
  margin: 0px 0px;
}

#subtitle {
  margin-top: 0px;
  margin-bottom: 25px;
}

#main-title, #subtitle {
color: rgb(8, 8, 8);
text-shadow: rgb(250, 247, 247) 0px 0px 75px;
}

#startBtn {

}